# All build artefacts and object code
build/
# Test code (early development only, to be replaced with proper testing framework
tests/
external/

# CMake support to be added for more general usage at a later stage
CMakeLists.txt

# Lock/swap/temporary files
*.swp

